[submodule "config-nix/awesome/.config/awesome/modules/bling"]
	path = config-nix/awesome/.config/awesome/modules/bling
	url = https://github.com/BlingCorp/bling.git
[submodule "config-nix/awesome/.config/awesome/modules/rubato"]
	path = config-nix/awesome/.config/awesome/modules/rubato
	url = https://github.com/andOrlando/rubato.git
[submodule "config/dotfiles_personal"]
	path = config/dotfiles_personal
	url = git@github.com:kirksw/dotfiles_personal.git
